.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container button{
    padding: 20px 50px;
    border: none;
    margin:20px 0px;
    border-radius: 8px;
    background-color: transparent;
    color:rgb(190, 180, 252);
    font-size: 1.2rem;
    box-sizing: border-box;
    transition: all .3s;
    cursor: pointer;
    border: 2px solid rgb(190, 180, 252);
}
.container button:hover{
    background-color: rgb(190, 180, 252);
    color: white;
    border: 2px solid transparent;
    
}
